body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
}

header{
    background-color: rgb(50, 163, 249);
    color: rgb(79, 79, 79);
    padding: 10px 0;
    /*border: 10px red dashed;*/
}

main{
    margin: 15px;
    padding: 15px;
    background-color:lightgray
}

footer{
    background-color: rgb(13, 37, 55);
    color: white;
    padding: 10px 0;
}

label{
    display: block;

}

.outline {
    border: 5px black solid;
}

.underlined {
    text-decoration: underline red;
}

.overlined{
    text-decoration:overline blue;
}